# Application
PORT=3001
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=banking_system
# DB_HOST=sql12.freesqldatabase.com
# DB_PORT=3306
# DB_USERNAME=sql12817522
# DB_PASSWORD=BMMtdwFMxD
# DB_DATABASE=sql12817522
# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRATION=24h

# Redis (for token blacklist)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Encryption
ACCOUNT_ENCRYPTION_KEY=your-encryption-key-32-chars-long
